<!-- cs50-2019 index.html
Nov 21, 2019 -->
{% extends "layout.html" %}

{% block body %}

<div class="col">
    <form action="/compare" enctype="multipart/form-data" method="post">

        <!-- TODO -->
        <div class="form-group">
            <input type="file" class="form-control-file" name="file1">
        </div>

        <div class="form-group">
            <input type="file" class="form-control-file" name="file2">
        </div>

        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="algorithm"value="lines"> Compare lines
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="algorithm"value="sentences"> Compare sentences
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                <input type="radio" class="form-check-input" name="algorithm"value="substrings"> Compare substrings

                <input type="number" class="form-control form-control-sm" name="length" min="1" placeholder="of length n">
                <!-- The placeholder attribute specifies a hint that describes the expected value of an input field -->
                </label>
            </div>
        </div>

        <button class="btn-primary" type="submit">Compare</button>
    </form>
</div>

{% endblock %}

<!-- To test your implementations via a web app, execute
     flask run -->
